// Sidebar Global Styles - Mudasir Nizamani
.sidebar5 {
  .sidebar2__category {
    margin-top: 5px;
    margin-left: 20px;
  }

  .sidebar5__item {
    transition: all 0.5s ease-out;

    .sidebar__item__text {
      transition: all 0.5s ease-out;
    }

    .svg-icon {
      transition: all 0.5s ease-out;
    }

    .icon {
      transition: all 0.1s ease-out;
    }

    &:hover {
      .icon {
        transform: scale(1.05);
      }
      .svg-icon {
        transform: scale(1.05);
      }

      .sidebar__item__text {
        transform: translateX(-5px);
      }
    }
  }
}
